<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>最高法谈视觉中国事件:不能仅以水印认定照片权属</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <a href="index.html" class="navbar-brand"></a>
        </div>
        <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
        <input id="toggle-checkbox" class="hidden" type="checkbox"/>
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="guolei.html">国内</a></li>
                <li><a href="guoji.html">国际</a></li>
                <li><a href="dushu.html">读书</a></li>
                <li><a href="shehui.html">社会</a></li>
            </ul>
            <ul class="navbar-right nav navbar-nav">
                <li><a href="login.html">登录</a></li>
                <li><a href="signup.html">注册</a></li>
            </ul>
        </div>

    </div>
</div>

<!-- 导航END -->

<!-- 主内容 -->
<div class="container">
    <!-- 左边文章 -->
    <div class="col-md-8">
        <h1 class="news-title">最高法谈视觉中国事件:不能仅以水印认定照片权属</h1>
        <div class="new-status">15k阅读 • 35分之前发布
            <div class="label label-default">财经</div>
            <div class="label label-default">国内</div>
        </div>
        <div class="new-content">
            <blockquote>
            <p>（原标题：最高法谈视觉中国事件: 不能仅以水印认定照片权属） </p>
            </blockquote>
			<P><div>
			中新网4月22日电 针对近期“视觉中国版权”事件，最高人民法院民三庭副庭长林广海22日表示，应当严格审查照片作品的权利归属证据，不能仅以水印当作照片作者的署名来认定权利归属，防止片面性和简单化。
			</p></div>
			<div>
			<p>
			最高法22日举行新闻发布会，会上有记者问：近日，视觉中国声称“黑洞照片”版权为其所有，引发各界热议。对此次事件，最高人民法院如何看待？
			</p>
			</div>
			<div>
			<p>
			林广海回应称，照片作品维权问题是著作权案件审理中的一个老问题，因一些照片授权环节较多，权属的证明较为复杂。2014年最高人民法院知识产权案件年度报告有这方面相关案例。对于照片作品维权法律问题，最高人民法院认为：
			</p>
			</div>
			<div><p>
			第一，应当坚持法治原则，该保护的坚决保护，不该保护的坚决不予保护。坚持严格保护知识产权，但对不享有版权的照片虚构版权，进行牟利的违法行为坚决不予保护，情节严重的依法应当予以惩罚。应予强调的是，著作权的取得和行使属于民事法律关系，应当遵循著作权法的规定；与著作权有关的市场经营行为和经营模式还涉及行政管理法律关系，应当遵循相关市场监督行政管理制度。我们也关注到日前已有相关行政部门对视觉中国进行了约谈，责令其全面作出整改。
			</p></div>
			<div><p>
			第二，应当严格审查照片作品的权利归属证据，并应严格依据著作权法和实施条例及最高人民法院相关司法解释的规定进行审查。要严格审查照片作品首次公开发表的时间，不得仅以当事人自行标注的可修改的时间证据作为判断发表时间的依据。在2014年最高人民法院知识产权案件年度报告所载的(2014)民提字第57号华盖公司诉正林公司侵害著作权纠纷案件中，最高人民法院再审认为，“华盖公司一审时以确认授权书、网站权利声明以及图片上的水印共同主张权利，应认为已经尽到了初步的举证责任，一审法院在没有相反证据的情况下认定其为主张权利的适格主体并无不当。”“二审法院采信了正林公司提交的相反证据，有三个网站公开销售涉案图片并分别印有自己的水印，在此情形下认为华盖公司未能进一步举证，从而不能证明其享有相关权利，二审的认定也是正确的。”“华盖公司在申请再审阶段向最高人民法院提交的补充证据能够回应正林公司二审中所提交的相反证据，进一步补充了权属的证明，能够证明Getty公司为涉案图片的著作权人、华盖公司经授权享有在中国大陆的相关权利，并有权提起本案诉讼。”可见，华盖公司是通过不断举证来证明其权利的，最高人民法院也是依据证据规则进行判断。从个案来看，最高人民法院对该案这样认定处理是稳妥的，希望各地方法院在参照最高人民法院典型案例时要准确领会案例指引，不能仅以水印当作照片作者的署名来认定权利归属，防止片面性和简单化。
			</div></p>
			<div><p>
			第三，关于照片作品侵权判赔金额问题。应该看到，解决知识产权侵权赔偿数额低的困扰是人民群众普遍而强烈的呼声，著作权案件审判也不例外。照片作品的判赔金额应当以市场价值为基础，市场价值应当以涉案作品的市场正常许可费用等作为参照来确定。当市场正常许可费用无法确定时，应当以近似市场价值为参考。
			</div></p>
        </div>
    </div>
    <!-- 左边文章END -->

    <!-- 右侧边栏 -->
    <div class="col-md-4">
        <div class="side-bar-card">
            <div class="card-title">相关推荐</div>
            <div class="card-body">
			<div class="list">
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/yuanmingyuan.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news.html">巴黎圣母院被烧了。标志性的塔尖烧塌，美丽的玫瑰花窗损毁</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/new_002.jpg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_002.html">游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_003.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_003.html">西安奔驰女车主质疑的金融服务费是什么？业内详解</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_004.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_004.html">台湾海峡发生3.5级地震 震源深度13千米</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/996.gif" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_005.html">刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_006.png" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_006.html">《别睡，这里有蛇》这本书怎么样？</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>

            </div>
            </div>
        </div>
        <div class="side-bar-card">
            <div class="card-title">24小时热闻</div>
            <div class="card-body">
                        <div class="list">
                            <div class="item">
                                <div class="title"><a href="news_011.html">奔驰女车主回应"携款700万私逃":将调查谁在诬陷我</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_012.html">"大衣哥"朱之文被直播的生活：有人账号卖了60万</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>      
                            <div class="item">
                                <div class="title"><a href="news_013.html">广电总局游戏新规： 打斗不能有任何颜色液体出现</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
							 <div class="item">
                                <div class="title"><a href="news_014.html">特斯拉在地库中突然自燃 公司回应：正核实情况</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_015.html">最高法谈视觉中国事件:不能仅以水印认定照片权属</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
								<div class="title"><a href="news_016.html">女车主维权坐瘪宝马引擎盖？当事女子否认:没坐瘪</div>
								<div class="desc">15k阅读 1k评论</div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
    <!-- 右侧边栏END -->

</div>
<!-- 主内容END -->

<!-- 页脚声明 -->
<div class="footer">
    © 2019 新闻头条 中国互联网举报中心		京ICP证1401号		京ICP备125439号-3京公网安备
</div>
<!-- 页脚声明END -->


</body>
</html>