<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"></a>
        </div>
        <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
        <input id="toggle-checkbox" class="hidden" type="checkbox"/>
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="guolei.html">国内</a></li>
                <li><a href="guoji.html">国际</a></li>
                <li><a href="dushu.html">读书</a></li>
                <li><a href="shehui.html">社会</a></li>
            </ul>
            <ul class="navbar-right nav navbar-nav">
                <li><a href="login.html">登录</a></li>
                <li><a href="signup.html">注册</a></li>
            </ul>
        </div>

    </div>
</div>

<!-- 导航END -->

<!-- 主内容 -->
<div class="container">
    <!-- 左边文章 -->
    <div class="col-md-8">
        <h1 class="news-title">刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</h1>
        <div class="new-status">25k阅读 • 35分之前发布
            <div class="label label-default">财经</div>
            <div class="label label-default">国内</div>
        </div>
        <div class="new-content">
            <blockquote>
                <p>刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</p>
            </blockquote>
            <img src="img/996.gif" alt="#">
            <div>【刘强东：京东不会强制995或者996 混日子的人不是我的兄弟】4月12日晚间，刘强东在朋友圈发文表示，京东最近四、五年没有实施末位淘汰制了。人员急剧膨胀，发号施令的人愈来愈多，干活的人愈来愈少，混日子的人更是快速增多。
				  这样下去，京东注定没有希望，公司只会逐渐被市场无情淘汰。
            </div>
			<div>
			<p>刘强东直面回应了此前京东声称要“强制”员工996的新闻，他说，“京东永远不会强制员工995或者996，但是每一个京东人都必须具备拼搏精神！我现在无法再像创业初期那样拼命工作了！但是以我的体质，做到811648，
			(周一到周六，早8点工作到晚11点，周日工作8个小时，每个月休假两天，每年也会休一次长假)完全没有问题！”</p>
			</div>
            <div>
			刘强东表示，混日子的人不是我的兄弟，真正的兄弟一定是一起拼杀于江湖，一起承担责任和压力，一起享受成功的成果的人。刘强东还表示，京东还远谈不上成功，我们的国家还不是世界上最强大的国家，<p>我们还有很多贫困人口需要帮助！天上掉不下馅饼，我们只有拼搏奋进！才能让这个世界更加美好！</p>
			</div>
			<div>
			此前，有媒体报道称，京东正酝酿大规模裁员计划，裁员比例高达8%，涉及超过1.2万个工作岗位。<p>当时京东回应称，“将京东企业内部正常人员流动夸大为大规模裁员的信息是完全失实的。京东今年还将会扩招1.5万个岗位，最近就会有1300多名应届毕业生加入京东。”</p>
			</div>
        </div>
    </div>
    <!-- 左边文章END -->

    <!-- 右侧边栏 -->
    <div class="col-md-4">
        <div class="side-bar-card">
            <div class="card-title">相关推荐</div>
            <div class="card-body">
			<div class="list">
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/yuanmingyuan.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news.html">巴黎圣母院被烧了。标志性的塔尖烧塌，美丽的玫瑰花窗损毁</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/new_002.jpg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_002.html">游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_003.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_003.html">西安奔驰女车主质疑的金融服务费是什么？业内详解</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_004.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_004.html">台湾海峡发生3.5级地震 震源深度13千米</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/996.gif" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_005.html">刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_006.png" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_006.html">《别睡，这里有蛇》这本书怎么样？</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>

            </div>
        </div>
        <div class="side-bar-card">
            <div class="card-title">24小时热闻</div>
            <div class="card-body">
                    <div class="list">
                            <div class="item">
                                <div class="title"><a href="news_011.html">奔驰女车主回应"携款700万私逃":将调查谁在诬陷我</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_012.html">"大衣哥"朱之文被直播的生活：有人账号卖了60万</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>      
                            <div class="item">
                                <div class="title"><a href="news_013.html">广电总局游戏新规： 打斗不能有任何颜色液体出现</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
							 <div class="item">
                                <div class="title"><a href="news_014.html">特斯拉在地库中突然自燃 公司回应：正核实情况</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_015.html">最高法谈视觉中国事件:不能仅以水印认定照片权属</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
								<div class="title"><a href="news_016.html">女车主维权坐瘪宝马引擎盖？当事女子否认:没坐瘪</div>
								<div class="desc">15k阅读 1k评论</div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- 右侧边栏END -->

</div>
<!-- 主内容END -->

<!-- 页脚声明 -->
<div class="footer">
    © 2019 新闻头条 中国互联网举报中心		京ICP证1401号		京ICP备125439号-3京公网安备
</div>
<!-- 页脚声明END -->


</body>
</html>