<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a href="index.html" class="navbar-brand"></a>
        </div>
        <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
        <input id="toggle-checkbox" class="hidden" type="checkbox"/>
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li><a href="index.html">首页</a></li>
                <li class="active"><a href="guolei.html">国内</a></li>
                <li><a href="guoji.html">国际</a></li>
                <li><a href="dushu.html">读书</a></li>
                <li><a href="shehui.html">社会</a></li>
            </ul>
            <ul class="navbar-right nav navbar-nav">
                <li><a href="login.html">登录</a></li>
                <li><a href="signup.html">注册</a></li>
            </ul>
        </div>

    </div>
</div>

<!-- 导航END -->

<!-- 主内容 -->
<div class="container">
    <!-- 左边文章 -->
    <div class="col-md-8">
        <h1 class="news-title">游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</h1>
        <div class="new-status">25k阅读 • 35分之前发布
            <div class="label label-default">教育</div>
            <div class="label label-default">国内</div>
        </div>
        <div class="new-content">
            <blockquote>
                <p>游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</p>
            </blockquote>
            <div>（原标题：游客投掷人民币“喂”长颈鹿 工作人员紧急“救钱”抢回万元） 
            </div>
            <video width="700" autoplay="autoplay" controls>
			 <source src="news_002.webm" type="video/webm" >
			</video>
            <div>4月16日上午，云南野生动物园长颈鹿庄园工作人员发现长颈鹿展区内突然间洒落了大量现金，工作人员立即组织展开了“救钱”工作。
            </div>
			
            <div>经过工作人员“抢救”，近万元人民币被捡回。工作人员询问在场游客后，现场并未找到这位豪掷万金的“土豪”。查看监控录像发现，该人恰好在监控的死角处投掷人民币，监控没有拍摄到画面，截止目前为止仍未有人前来领取此笔巨款。
            </div>
            <div>云南野生动物园现在正急寻失主，同时呼吁广大市民及游客，在动物园游玩和观看动物时不要随意乱扔垃圾或给动物喂食“奇怪的东西”。
            </div>
            
            
        </div>
    </div>
    <!-- 左边文章END -->

    <!-- 右侧边栏 -->
    <div class="col-md-4">
        <div class="side-bar-card">
            <div class="card-title">相关推荐</div>
            <div class="card-body">
                    <div class="list">
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/yuanmingyuan.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news.html">巴黎圣母院被烧了。标志性的塔尖烧塌，美丽的玫瑰花窗损毁</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/new_002.jpg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_002.html">游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_003.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_003.html">西安奔驰女车主质疑的金融服务费是什么？业内详解</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_004.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_004.html">台湾海峡发生3.5级地震 震源深度13千米</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/996.gif" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_005.html">刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_006.png" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_006.html">《别睡，这里有蛇》这本书怎么样？</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="side-bar-card">
            <div class="card-title">24小时热闻</div>
            <div class="card-body">
                    <div class="list">
                            <div class="item">
                                <div class="title"><a href="news_011.html">奔驰女车主回应"携款700万私逃":将调查谁在诬陷我</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_012.html">"大衣哥"朱之文被直播的生活：有人账号卖了60万</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>      
                            <div class="item">
                                <div class="title"><a href="news_013.html">广电总局游戏新规： 打斗不能有任何颜色液体出现</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
							 <div class="item">
                                <div class="title"><a href="news_014.html">特斯拉在地库中突然自燃 公司回应：正核实情况</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_015.html">最高法谈视觉中国事件:不能仅以水印认定照片权属</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
								<div class="title"><a href="news_016.html">女车主维权坐瘪宝马引擎盖？当事女子否认:没坐瘪</div>
								<div class="desc">15k阅读 1k评论</div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- 右侧边栏END -->

</div>
<!-- 主内容END -->

<!-- 页脚声明 -->
<div class="footer">
    © 2019 新闻头条 中国互联网举报中心		京ICP证1401号		京ICP备125439号-3京公网安备
</div>
<!-- 页脚声明END -->


</body>
</html>