<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>特斯拉在地库中突然自燃 公司回应：正核实情况</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <a href="index.html" class="navbar-brand"></a>
        </div>
        <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
        <input id="toggle-checkbox" class="hidden" type="checkbox"/>
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="guolei.html">国内</a></li>
                <li><a href="guoji.html">国际</a></li>
                <li><a href="dushu.html">读书</a></li>
                <li><a href="shehui.html">社会</a></li>
            </ul>
            <ul class="navbar-right nav navbar-nav">
                <li><a href="login.html">登录</a></li>
                <li><a href="signup.html">注册</a></li>
            </ul>
        </div>

    </div>
</div>

<!-- 导航END -->

<!-- 主内容 -->
<div class="container">
    <!-- 左边文章 -->
    <div class="col-md-8">
        <h1 class="news-title">特斯拉在地库中突然自燃 公司回应：正核实情况</h1>
        <div class="new-status">15k阅读 • 35分之前发布
            <div class="label label-default">财经</div>
            <div class="label label-default">国内</div>
        </div>
        <div class="new-content">
            <blockquote>
            <p>网易科技讯4月22日消息，昨日晚间上海一辆特斯拉在地库中突然自燃。对此特斯拉表示，在得知事故后，昨晚公司第一时间派出团队赶往现场，目前正在积极联络相关部门并配合核实情况。</p>
            </blockquote>
			<img src="img/news_014.gif" alt="#">
			<P><div>
			昨日晚间，微博上流传出一段地下车库监控录像，在录像中，20点15分一辆停放在车位内的特斯拉先是冒白烟，接着直接爆炸并伴随大量火焰。
			</p></div>
			<div>
			<p>
			澎湃新闻（www.thepaper.cn）记者从徐汇消防部门获悉，4月21日20时32分许，上海市徐汇区文定路某小区地下车库发生火灾，徐汇支队立即调派15辆消防车到场处置。消防力量于20时39分到场，经奋力扑救，火灾于21时18分熄灭。现场为独立地下二层车库，层面积约1300平方米。起火部位在地下一层，有特斯拉、奥迪、雷克萨斯三辆轿车发生燃烧，其中，一辆特斯拉新能源轿车烧损较严重，另两辆车不同程度烧损。现场无人员伤亡。目前，火灾原因和财产损失正在进一步调查核实之中。
			</p>
			</div>
			<div>
			<p>
			特斯拉表示，根据目前的信息显示，没有人员伤亡。
			</p>
			</div>
			<img src="img/news_014_002.png" alt="#">
			<div><p>
			另据资料，在今年3月，广州市一辆特斯拉Model S发生自燃，受损严重。发生自燃的时候该车正在停车场，既没有充电，也没有发生碰撞，与此次事故情形类似。
			</p></div>
        </div>
    </div>
    <!-- 左边文章END -->

    <!-- 右侧边栏 -->
    <div class="col-md-4">
        <div class="side-bar-card">
            <div class="card-title">相关推荐</div>
            <div class="card-body">
			<div class="list">
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/yuanmingyuan.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news.html">巴黎圣母院被烧了。标志性的塔尖烧塌，美丽的玫瑰花窗损毁</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/new_002.jpg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_002.html">游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_003.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_003.html">西安奔驰女车主质疑的金融服务费是什么？业内详解</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_004.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_004.html">台湾海峡发生3.5级地震 震源深度13千米</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/996.gif" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_005.html">刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_006.png" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_006.html">《别睡，这里有蛇》这本书怎么样？</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>

            </div>
            </div>
        </div>
        <div class="side-bar-card">
            <div class="card-title">24小时热闻</div>
            <div class="card-body">
                <div class="list">
                    <div class="item">
                        <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                        <div class="desc">15k阅读 1k评论</div>
                    </div>
                    <div class="item">
                        <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                        <div class="desc">15k阅读 1k评论</div>
                    </div>
                    <div class="item">
                        <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                        <div class="desc">15k阅读 1k评论</div>
                    </div>
                    <div class="item">
                        <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                        <div class="desc">15k阅读 1k评论</div>
                    </div>
                    <div class="item">
                        <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                        <div class="desc">15k阅读 1k评论</div>
                    </div>
                    <div class="item">
                        <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing</div>
                        <div class="desc">15k阅读 1k评论</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 右侧边栏END -->

</div>
<!-- 主内容END -->

<!-- 页脚声明 -->
<div class="footer">
    © 2019 新闻头条 中国互联网举报中心		京ICP证1401号		京ICP备125439号-3京公网安备
</div>
<!-- 页脚声明END -->


</body>
</html>