<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广电总局游戏新规： 打斗不能有任何颜色液体出现</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<!-- 导航 -->
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <a href="index.html" class="navbar-brand"></a>
        </div>
        <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
        <input id="toggle-checkbox" class="hidden" type="checkbox"/>
        <div class="hidden-xs">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">首页</a></li>
                <li><a href="guolei.html">国内</a></li>
                <li><a href="guoji.html">国际</a></li>
                <li><a href="dushu.html">读书</a></li>
                <li><a href="shehui.html">社会</a></li>
            </ul>
            <ul class="navbar-right nav navbar-nav">
                <li><a href="login.html">登录</a></li>
                <li><a href="signup.html">注册</a></li>
            </ul>
        </div>

    </div>
</div>

<!-- 导航END -->

<!-- 主内容 -->
<div class="container">
    <!-- 左边文章 -->
    <div class="col-md-8">
        <h1 class="news-title">广电总局游戏新规： 打斗不能有任何颜色液体出现</h1>
        <div class="new-status">15k阅读 • 35分之前发布
            <div class="label label-default">财经</div>
            <div class="label label-default">国内</div>
        </div>
        <div class="new-content">
            <blockquote>
            <p>【广电总局游戏新规：#未成年人账号不能结婚#打斗不能有液体】4月22日起全国范围内将开放手里国产及进口游戏审批。新的版号申请注意事项显示游戏申请有了新变化，其中，要求打斗系统任何颜色液体都不能出现，包括绿色血液，尸体需尽快消失等。未成年人不能开放结婚系统，但可以享受结婚系统的收益。</p>
            </blockquote>
			<img src="img/news_013_001.png" alt="#">
			<img src="img/news_013_002.jpg" alt="#">
			<P><div>
			<img src="img/news_013_003.jpg" alt="#">
            </div></p>
        </div>
    </div>
    <!-- 左边文章END -->

    <!-- 右侧边栏 -->
    <div class="col-md-4">
        <div class="side-bar-card">
            <div class="card-title">相关推荐</div>
            <div class="card-body">
			<div class="list">
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/yuanmingyuan.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news.html">巴黎圣母院被烧了。标志性的塔尖烧塌，美丽的玫瑰花窗损毁</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/new_002.jpg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_002.html">游客投人民币"喂"长颈鹿 工作人员"救钱"抢回万元</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_003.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_003.html">西安奔驰女车主质疑的金融服务费是什么？业内详解</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_004.jpeg" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_004.html">台湾海峡发生3.5级地震 震源深度13千米</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/996.gif" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_005.html">刘强东：京东不会强制995或者996 混日子的人不是我的兄弟</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>
                    <div class="item clearfix">
                        <div class="col-xs-5 no-padding-h">
                            <img src="img/news_006.png" alt="#">
                        </div>
                        <div class="col-xs-7">
                            <div class="title"><a href="news_006.html">《别睡，这里有蛇》这本书怎么样？</div>
                            <div class="desc">15k阅读 1k评论</div>
                        </div>
                    </div>

            </div>

            </div>
        </div>
        <div class="side-bar-card">
            <div class="card-title">24小时热闻</div>
            <div class="card-body">
                    <div class="list">
                            <div class="item">
                                <div class="title"><a href="news_011.html">奔驰女车主回应"携款700万私逃":将调查谁在诬陷我</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_012.html">"大衣哥"朱之文被直播的生活：有人账号卖了60万</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>      
                            <div class="item">
                                <div class="title"><a href="news_013.html">广电总局游戏新规： 打斗不能有任何颜色液体出现</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
							 <div class="item">
                                <div class="title"><a href="news_014.html">特斯拉在地库中突然自燃 公司回应：正核实情况</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
                                <div class="title"><a href="news_015.html">最高法谈视觉中国事件:不能仅以水印认定照片权属</div>
                                <div class="desc">15k阅读 1k评论</div>
                            </div>
                            <div class="item">
								<div class="title"><a href="news_016.html">女车主维权坐瘪宝马引擎盖？当事女子否认:没坐瘪</div>
								<div class="desc">15k阅读 1k评论</div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    <!-- 右侧边栏END -->

</div>
<!-- 主内容END -->

<!-- 页脚声明 -->
<div class="footer">
    © 2019 新闻头条 中国互联网举报中心		京ICP证1401号		京ICP备125439号-3京公网安备
</div>
<!-- 页脚声明END -->


</body>
</html>